@charset "utf-8";
@import url(base.css);
@import url(reset.css);
@import url(common.css);

/*detail 페이지 CSS*/


article{
/*    position: absolute;*/
/*    left: 350px;*/
/*    outline: 1px solid blue;*/
    width: 75%;
    margin-left: 350px;
}
article>div{
    width: 650px;
    padding-top: 45px; 
    margin-bottom: 60px;
/*    outline: 1px solid orange;*/
}
figure{
    padding: 10px;
    background-color: #222;
}
figure>img{
    width: 100%;
}
figcaption{
    text-align: center;
    padding-top: 15px;
/*    outline: 1px solid red;*/
}
article>p{
    font-size: 19px;
    color: #111;
    line-height: 35px;
    word-break: break-all;
}























